<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yt.mybatis.mapper.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.yt.mybatis.entity.TUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, real_name, sex, mobile, email, note, position_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yt.mybatis.entity.TUser" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user (id, user_name, real_name, 
      sex, mobile, email, 
      note, position_id)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{sex,jdbcType=TINYINT}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{positionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yt.mybatis.entity.TUser" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="userName != null" >
        user_name,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yt.mybatis.entity.TUser" >
    update t_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yt.mybatis.entity.TUser" >
    update t_user
    set user_name = #{userName,jdbcType=VARCHAR},
      real_name = #{realName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      position_id = #{positionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="userAndPosition" extends="BaseResultMap" type="TUser">
    <association property="position" javaType="TPosition" columnPrefix="posi_">
      <result column="comp_name" property="compName" jdbcType="VARCHAR"/>
      <result column="position_id" property="positionId" jdbcType="INTEGER"/>
      <result column="years" property="years" jdbcType="INTEGER"/>
      <result column="title" property="title" jdbcType="VARCHAR"/>
    </association>
  </resultMap>

  <select id="selectByAssociation"  resultMap="userAndPosition">
    select
      a.id, a.user_name, a.real_name, a.sex,
      b.comp_name posi_comp_name,
      b.position_id posi_position_id,
      b.years posi_years,
      b.title posi_title
    from test.t_user a,test.t_position b
    where a.id = b.position_id
  </select>

  <resultMap id="positionAndUserResultMap" type="TUser" extends="BaseResultMap">
    <association property="position" javaType="TPosition" column="position_id" fetchType="lazy"
                 select="com.yt.mybatis.mapper.TPositionMapper.selectByPrimaryKey">

    </association>
  </resultMap>

  <select id="selectByAssociationQuery"  resultMap="positionAndUserResultMap">
    select
      id, user_name, real_name, sex, position_id
    from test.t_user
  </select>

  <resultMap id="collectionResultMap" type="TUser" extends="BaseResultMap">
    <collection property="role" column="id" fetchType="lazy"
                 select="com.yt.mybatis.mapper.TRelationMapper.selectByUid">

    </collection>
  </resultMap>

  <select id="selectByCollectionQuery" resultMap="collectionResultMap">
    select
      id, user_name, real_name, sex, position_id
    from test.t_user
  </select>

  <resultMap id="selectByDiscriminatorResultMap" type="TUser" extends="BaseResultMap">
    <discriminator javaType="int" column="sex">
      <case value="1" resultMap="manResultMap"/>
      <case value="2" resultMap="womanResultMap"/>
    </discriminator>
  </resultMap>

  <resultMap id="manResultMap" type="TUser" extends="selectByDiscriminatorResultMap">
    <collection property="role" column="id" fetchType="lazy"
                select="com.yt.mybatis.mapper.TRelationMapper.selectByUid"/>
  </resultMap>

  <resultMap id="womanResultMap" type="TUser" extends="selectByDiscriminatorResultMap">
    <association property="position" column="position_id" fetchType="lazy"
                select="com.yt.mybatis.mapper.TPositionMapper.selectByPrimaryKey"/>
  </resultMap>

  <select id="selectByDiscriminator" resultMap="selectByDiscriminatorResultMap">
    select
    <include refid="Base_Column_List"/>
    from test.t_user
  </select>

</mapper>